@charset "UTF-8";
@import "reset";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


main {
   width: 100%;
   height: 100vh;
   display: flex;
}

header {
   width: 20%;
   height: 100%;
   padding: 3vh 5vw;
   display: flex;
   flex-wrap: wrap;
   position: relative;
   z-index: 1;

   .introduce {
      font: 15px/1.5 "Noto Sans KR";
      color: white;
      text-align: center;
      margin-top: 12px;
      
   }

   h1 {
      color: #fff;
      display: flex;
      flex-wrap:  wrap;
      justify-content: center;
      align-content: center;

      img {
         width: 200px;
         height: 200px;
         border-radius: 50%;
         margin-bottom: 20px;
         margin-top: 20px;

      }

      span {
         font:  bold 1.2vw/1.8 "Poppins";
         width: 100%;
         text-align: center;
      }

      p {
         font: 11px/1 "Noto Sans KR";
         opacity: 0.5;

      }

   }

   div {
      font: 12px/2"Noto Sans KR"; 
      color: white;

      .box {
         .graph {
            width: 215px;
            height: 6px;
            background: white;
            border-radius: 3px;
            animation: photoshop 2s ;
         }
         width: 225px;
         height: 8px;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 3px;
         border: 1px solid white;
      }

      .box2 {
         .graph {
            width: 200px;
            height: 6px;
            background: white;
            border-radius: 3px;
            animation: illustrater 2s ;
         }
         width: 225px;
         height: 8px;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 3px;
         border: 1px solid white;
      }

      .box3 {
         .graph {
            width: 120px;
            height: 6px;
            background: white;
            border-radius: 3px;
            animation: xdfigma 2s ;
         }
         width: 225px;
         height: 8px;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 3px;
         border: 1px solid white;
      }

      .box4 {
         .graph {
            width: 50px;
            height: 6px;
            background: white;
            border-radius: 3px;
            animation: etc 2s ;
         }
         width: 225px;
         height: 8px;
         background: rgba(255, 255, 255, 0.3);
         border-radius: 3px;
         border: 1px solid white;
      }

      i {
         font-size: 2px;
         margin-right: 10px;
      }
   }
}

section {
   width: 80%;
   height: 100%;
   padding-top: 10vh;
   padding-right: 5vh;
   display: flex;
   position: relative;
   z-index: 1;
   
   article {
      flex: 1;
      transition: 0.5s;
      position: relative;
      cursor: pointer;

      &::before {
         content: "";
         display: block;
         width: 80%;
         height: 95%;
         position: absolute;
         top: 0px;
         left: -100px;
         opacity: 0;
         background: #ffffff;
         transition: 1s;
         box-shadow: 10px 10px 20px rgba(0,0,0,.1);
         border-radius: 20px;
      }

      .inner {
         width: 100%;
         height: 100%;
         position: relative;
         display: flex;
         flex-wrap: wrap;
         align-content: space-between;
         padding: 50px 30px 100px;

         .txt {
            padding-top: 90px;
            transition: 1s;

            h2 {
               font: bold 2vw/1 "Poppins";
               color: white;
               margin-bottom: 40px;
               transition: 1s;

               &::after {
                  content:"";
                  display: block;
                  width: 40px;
                  height: 1px;
                  background: #ffffff;
                  margin-top: 15px;
                  transition: 1s;
               }
               
            }

            p {
               font: bold 20px/1 "Noto Sans KR";
               color: #ffffff;
            }

            span {
               font: normal 13px/1 "Noto Sans KR";
               color: white;
            }

            ul {
               font: 13px/2.5 "Noto Sans KR";
               color: white;
               margin-top: 30px;
               margin-left: 25px;

               li {
                  div {
                     display: none;
                     font: 8px/1 "Noto Sans KR";
                  }
               } 
            }

            div {
               display: none;;
            }
            

         }

         figure {
            width: 290px;
            height: 150px;
            overflow: hidden;
            transition: 0.5s;
            position: relative;
            top: 0px;
            box-shadow: 10px 10px 30px rgba(0,0,0,.1);
            filter: saturate(0.2);

            video {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 15px;
            }
         }
      }

      &:hover {
         flex: 1.3;

         &::before {
            left: 0px;
            opacity: 0.1;
         }

         .inner {
            .txt {
               padding-top: 20px;

               h2 {
                  font-size: 3vw;

                  &::after {
                     width: 308px;
                     background: #c9d3df;
                  }
               }
            }

            figure {
               height: 20vh;
               top: 25px;
               filter: saturate(1.2);
            }
         }
      }

   }
}

nav {
   position: absolute;
   top: 4vh;
   right: 5vw;
   

   ul {
      list-style: none;
      display: flex;

      li {
         margin: 15px;

         a{ 
            font-size: 18px;
            color: #eee;
         }
      }
   }
}

aside {
   width: 100%;
   height: auto;
   background: #bbafcc;
   position: absolute;
   top: 0px;
   left: -100%;
   z-index: 2;
   padding: 5vw;
   padding-left: 5%;
   display: flex;
   justify-content: space-between;
   opacity: 0;
   transition: 1s;

   &.on {
      opacity: 1;
      left: 0%;
   }

   .txtBox {
      width: 25%;
      position: fixed;

      h2 {
         font: 60px/1 "Poppins";
         color: white;
         margin-bottom: 15px;
      }

      p{
         font: bold 32px/1 "Noto Sans KR";
         color: white;
      }

      p {
         font: bold 25px/1 "Noto Sans KR";
         color: #ffffff;
      }

      span {
         font: normal 15px/3 "Noto Sans KR";
         color: white;
      }

      ul {
         font: 17px/2"Noto Sans KR";
         color: white;
         margin-top: 25px;
         margin-left: 25px;
         
         li { 
            &:hover{
               font: bold 18px/2 "Noto Sans KR";
               transition: 0.5s;
               cursor: pointer;  
               div {
                  display: block;
                  transition: 2s;
                  
                  
               }
            }

            div {
               position: relative;
               top: -100;
               width: 300px;
               height: 150px;
               background-color: black;
               display: none;
               font: 14px/2 "Noto Sans KR";
               padding-bottom: 20px;

      
      
      
            }
         }
      }
      
   }

   .aran {
      display: block;
      width: 90%;
      padding-top:70px;
      padding-left: 500px;

      img {
         width: 100%;
         padding-bottom: 0;
      }
   }
   .dolphin {
      display: none;
      width: 90%;
      padding-top:70px ;
      padding-left: 500px;

      img {
         width: 100%;
      }
   }

   .btnClose {
      position: fixed;
      top: 100px;
      right: 5vw;
      font: 16px/1 "Poppins"; 
      color: #ddd;
      cursor: pointer;
   }
}

@keyframes photoshop {
   0% {width: 0px;}
   100%{width: 215px;} 
}

@keyframes illustrater {
   0% {width: 0px;}
   100%{width: 200px;} 
}

@keyframes xdfigma {
   0% {width: 0px;}
   100%{width: 120px;} 
}

@keyframes etc {
   0% {width: 0px;}
   100%{width: 50px;} 
}